<!DOCTYPE html>
<html>
    <head>
        <script src="/static/main.js"></script>
    </head>

    <body>
        <form>
            <ul>
                <li><input type="text" name="firstname" placeholder="Imię"/></li>
                <li><input type="text" name="lastname" placeholder="Nazwisko"/></li>
                <li><input type="text" name="username" placeholder="Nazwa użytkownika"/></li>
                <li><input type="text" name="firstname" placeholder="Imię"></li>
            </ul>
        </form>
    </body>

</html>