<!DOCTYPE html>
<html>

<head>
    <title>Strona główna</title>
    <script src="/static/codeJS/register.js" defer></script>
    <link rel="stylesheet" href="/static/style/register.css">
</head>

<body>
    <nav class="nav_bar">
        <ul>
            <li><a href="/">Strona główna</a></li>
            <li><a href="/sender/sign-up">Zarajestruj się</a></li>
        </ul>
    </nav>

    <p>
        Zerejestruj się już dziś, a otrzymasz darmowy voucher w wysokości 20 zł na pierwsze przesyłki.
    </p>

    <form class="registration_table">
        <ul>
            <li><input type="text" name="name" placeholder="Imię"></li>
            <li><input type="text" name="lastname" placeholder="Nazwisko"></li>
            <li><input type="text" name="login" placeholder="Login"></li>
            <li><input type="password" name="password" placeholder="Hasło"></li>
            <li><input type="password" name="password" placeholder="Powtórz hasło"></li>
            Płeć
            Zdjęcie
        </ul>
    </form>



    </div>

</body>

</html>